{{>header}}
    
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">{{ title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <p>I used NodeJS and Express to put this app together. I was trying to get some experience in using these two tools and this was a good app to work on creating a back-end and then
                    integrating it with a front-end. This app uses the free version of the WeatherStack API for the weather information.</p>
                </div>
            </div>
        </div>
    </div>




{{>footer }}
