{{>header}}
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">{{ title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Enter the location below to get weather information</p>
      </div>
    </div>
<div class="row text-center">
        <form action="">
          <input type="text">
          <div class="row">
          <button class="btn">Search</button>
          </div>
        </form>
        <img class="weather-image" src="/img/sunny.jpg" alt="">
      <p id="message-1" class="fs-3"></p>
      <p id="message-2"></p>
    </div>
  </div>

  
  
{{>footer}}